name: 'Pull Request Build'

on:
  workflow_call:
    secrets:
      nexus-username:
        required: true
      nexus-password:
        required: true
    inputs:
      runner:
        description: "The runner to use"
        required: false
        type: string
        default: "ubuntu-latest"
      region:
        description: "AWS region to set"
        required: false
        type: string
        default: "eu-west-1"
      role_to_assume:
        description: "AWS role to assume for the build"
        required: false
        type: string

jobs:
  build:
    name: 'Build and tests'
    timeout-minutes: 30

    runs-on: ${{ inputs.runner }}

    env:
      ORG_GRADLE_PROJECT_nexusUsername: ${{ secrets.nexus-username }}
      ORG_GRADLE_PROJECT_nexusPassword: ${{ secrets.nexus-password }}
      AWS_REGION: ${{ inputs.region }}

    steps:
      - name: 'Getting repository name'
        run: echo "GITHUB_REPO_NAME=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

      - name: 'Print action context'
        run: |
          echo "Repository: ${{ env.GITHUB_REPO_NAME }}"
          echo "$GITHUB_CONTEXT"
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}

      - name: 'Checkout'
        uses: actions/checkout@v4

      - name: 'Configure AWS credentials'
        if: inputs.role_to_assume != ''
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ inputs.role_to_assume }}
          aws-region: ${{ inputs.region }}

      - name: 'Setup JDK 21'
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'

      - name: 'Grant execute permission for gradlew'
        run: chmod +x gradlew

      - name: 'Run build and tests'
        run: ./gradlew clean build --full-stacktrace

      - name: 'Upload test results'
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          # Artifact name
          name: test_results
          # Directory containing files to upload
          path: ./build/reports/tests/test
